body{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: aliceblue;
    background-color: aqua;
    
    height: 100%;
}
.caixa{
    display: flex;
    flex-direction: column;
    background-color: aqua;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 3rem;
    text-decoration: none;
    
}   
.form-group{
    
}

.texto{
    font-size: 0.5em;
    
    
}

img{
    align-items: center;
    width: 400px;
    height: 200px;
    padding: 3px;
    margin-bottom: 2rem;
}